<main class="gallery">
	<section class="gallery__profile">
		<img class="gallery__profile__photo" src="./../assets/profilePhoto.png" alt="Rodney's profile photo">
		<h1 class="gallery__profile__name" data-location="Helsinki, Finland">Rodney Cotton</h1>

		<div class="gallery__profile__stats">
			<div class="card" data-stat="Posts">100</div>
			<div class="card" data-stat="Followers">2,242</div>
			<div class="card" data-stat="Following">1,432</div>
		</div>
	</section>

	<section class="gallery__grid">
		<img src="./../assets/photo1.png" alt="gray couch with a tiny table on the side">
		<img src="./../assets/photo2.png" alt="black couch with wood coffee table in front">
		<img src="./../assets/photo3.png" alt="bathroom with a pink marble bathtub">
		<img src="./../assets/photo4.png" alt="black lamp">
		<img src="./../assets/photo5.png" alt="short wood coffee table">
		<img src="./../assets/photo6.png" alt="plant with green leaves">
	</section>
</main>